@media screen and (max-width: 1440px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .navbar {
    gap: 20px;
  }
}

/* tablet view */
@media screen and (max-width: 800px) {
  .container {
    padding-left: 60px;
    padding-right: 60px;
  }
  /* nav */
  nav {
    flex-direction: column;
    align-items: center;
    padding-top: calc(100px - 37px);
    padding-bottom: calc(100px - 37px);
  }
  .nav-wrapper ul {
    flex-direction: column;
    margin-top: 50px;
    gap: 36px;
  }
  /* nav */
  /* banner */
  .banner-section {
    background-image: none;
  }
  .banner {
    flex-direction: column-reverse;
    align-items: normal;
  }

  .banner-section .section-content {
    background-image: url("../images/Group-14.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    max-width: 760px;
    padding: 35px;
    margin: 20px 0;
  }
  .banner-section .main-title {
    font-size: 75px;
  }

  /* banner */

  /* identity */
  .identity {
    flex-direction: column;
  }
  .identity .section-content {
    margin: 50px 0;
    text-align: center;
  }
  .identity .section-description {
    width: 80%;
    margin: 40px auto;
  }
  .identity-description {
    margin-top: 30px;
  }
  /* identity */

  /* videos */
  .videos {
    flex-direction: column;
    gap: 35px;
    padding-left: 49px;
    padding-right: 49px;
  }
  /* cant fit title in viewport in one like as the figma file without lowering the given font size in figma file */
  .videos .section-title {
    font-size: 31px;
  }
  .video-caption .section-description {
    text-align: center;
    width: 100%;
    font-size: 16px;
  }
  /* videos */

  /* play instantly section */
  .play-instantly-section {
    flex-direction: column;
    gap: 40px;
  }
  .play-instantly-section .section-content {
    text-align: center;
  }
  .play-instantly-section .section-description {
    width: 75%;
    margin: 40px auto;
  }
  .play-instantly-section .section-img {
    margin-left: 75px;
  }
  .nested-img {
    width: 50%;
  }
  /* play instantly section */
  /* career */
  .career {
    background-image: none;
  }
  .career-section {
    flex-direction: column;
  }
  .career-section .section-img {
    background-image: url("../images/Vector.png");
    padding: 70px;
  }

  /* career */
  .career-section .section-img {
    padding: 30px;
  }
  .career-section .section-content {
    text-align: center;
  }
  .career-section .section-description {
    font-size: 16px;
  }
  .two-lists ul li {
    font-size: 18px;
  }
  .career-section .section-title,
  .career-section .section-description {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  /* career */
  /* play button  */
  .play-button-section {
    gap: 10px;
    padding: 0 10px;
  }
  .play-button-section p {
    white-space: nowrap;
  }
  /* cant fit buttons (three buttons per row) in viewport without lowering the given image and font size in figma file */
  .play-button img {
    width: 40px;
    height: 40px;
  }
  .play-button {
    justify-content: center;
    font-size: 16px;
    padding: 8px 8px;
  }

  /* play button  */
  /* footer */
  footer .navbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0;
    row-gap: 40px;
    text-align: center;
  }
  .social-nav {
  }
  .policy {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .copyright {
    display: block;
  }
  /* footer */

  /* tablet view */

  /* large mobile view */
  @media screen and (max-width: 450px) {
    /* global */
    .container {
      padding-left: 20px;
      padding-right: 20px;
    }
    .btn {
      padding: 20px 30px;
      font-size: 18px;
      border: none;
    }
    /* global */
    .banner {
      padding: 0;
    }
    .banner .section-img {
      box-sizing: border-box;
      padding: 0 30px;
    }
    .banner .section-content {
      padding: 40px 10px;
    }
    /* identity */
    .identity .section-description {
      width: 100%;
      margin: 30px 0;
    }
    /* identity */

    .play-instantly-section .section-img {
      margin-left: 45px;
    }
    /* play button section */
    .play-button-section {
      padding: 0;
    }
    .play-button img {
      width: 20px;
      height: 20px;
    }
    .play-button {
      justify-content: center;
      font-size: 10px;
      padding: 5px;
      gap: 2px;
    }
    /* footer */
    footer .navbar {
      padding: 0;
    }
    .social-nav {
      padding: 0 20px;
    }
    /* footer */
  }
  /* large mobile view */
}
